<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/white.min.css">
	<title>{{retroTitle}}</title>
</head>
<body>
		<div class="reveal">
			<div class="slides">
				<section>{{retroTitle}}</section>
				<section>
					<section data-background-image="traklog.png"></section>
					<section data-background-image="sprint-execution-diagram.png"></section>
					<section data-background-image="sprint-execution-diagram-weekends.png"></section>
				</section>
				<section>POPCORN</section>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"></script>
		<script type="text/javascript">
			Reveal.initialize();
		</script>
</body>
</html>