<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/white.min.css">
	<title>{{retroTitle}}</title>
</head>
<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>{{retroTitle}}</h1>
					<strong>{{retroSubtitle}}</strong>
				</section>
				<section>
					{{slides}}
				</section>
				<section>
					<h2>POPCORN</h2>
					<small>Problem solving</small>
				</section>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/zoom-js/zoom.js"></script>
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function(event) {
				Reveal.initialize();
			});
		</script>
</body>
</html>